@model Tuple<User, UserProfile>

    <link href="~/CSS/Profile_styles.css" rel="stylesheet" />

    <div class="span9">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Information block</h4>
            @{
                if (ViewBag.Messages != null)
                {
                    foreach (string message in ViewBag.Messages)
                    {
                        @message
                    }
                }
                else
                {
                    <small>No messages for you...</small>
                }
            }
        </div>

        <div class="well well-small">
            <!-- MIDDLE-CONTAINER -->
            <div class="media">
                <a class="pull-left" href="#">
                    @{
                        if (Model.Item1.Profile.Avatar != null)
                        {
                            <img class="media-object img-polaroid" alt="128x128" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Item1.Profile.Avatar))" style="width: 128px; height: 128px;border-color:burlywood; border:3px;" />
                        }
                        else
                        {
                            <img class="media-object img-polaroid" alt="128x128" src="@Url.Content("~/IMG/ProfileImages/man.png")" style="width: 128px; height: 128px;border-color:burlywood; border:3px;" />
                        }
                    }

                </a>
                <div class="media-body">
                    <h4 class="media-heading">Welocme back, @Model.Item1.Email!</h4>
                    <small>Here`s your status!</small>
                    <p>Options: </p>
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="profile-options"><a asp-action="Logout" asp-controller="Office" class="btn btn-primary profile-options">Logout</a></li>
                        <li class="profile-options"><button href="#changePassword" role="button" class="btn btn-danger profile-options" data-toggle="modal">Change password</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="well well-small">
            <div class="tab-pane fade active in" id="home">
                <h4>Your Information</h4>
                <table class="table table-striped">
                    <tbody>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">First Name:</td>
                            <td class="techSpecTD2">
                                @{if (Model.Item1.Profile.Name != null)
                                    { @Model.Item1.Profile.Name}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Last Name:</td>
                            <td class="techSpecTD2">
                                @{if (Model.Item1.Profile.LastName != null)
                                    { @Model.Item1.Profile.LastName}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Age:</td>
                            <td class="techSpecTD2">
                                @{
                                    if (Model.Item1.Profile.Age != 0)
                                    { @Model.Item1.Profile.Age}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Phone:</td>
                            <td class="techSpecTD2">
                                @{if (Model.Item1.Profile.Phone != null)
                                    { @Model.Item1.Profile.Phone}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">City:</td>
                            <td class="techSpecTD2">
                                @{if (Model.Item1.Profile.City != null)
                                    { @Model.Item1.Profile.City}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Address:</td>
                            <td class="techSpecTD2">
                                @{if (Model.Item1.Profile.Address != null)
                                    { @Model.Item1.Profile.Address}
                                else
                                { <p>Not Set</p> } }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <hr>

        <div class="well well-small">
            <div class="tab-pane fade active in" id="home">
                <h4>Your Oreders</h4>

                @{

                    if (!Model.Item1.Orders.Any())
                    {
                        <p> You dont have any oredrs yet! </p>
                    }
                    else
                    {

                        <table class="table table-bordered table-condensed">

                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Count </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    foreach (var oreder in Model.Item1.Orders)
                                    {
                                        foreach (var item in oreder.Items)
                                        {
                                            <tr>
                                                @Html.Partial("ProfileOrdersPartial", item.Entity)
                                                <td>
                                                    <h3><small> @item.Quanity </small></h3>
                                                </td>
                                            </tr>
                                        }
                                        <p> Oreder state: @oreder.State </p>
                                    }
                                }
                            </tbody>
                        </table>

                    }
                }

            </div>
        </div>



        <p class="flex-grow-1">
            You can <a href="#myModal" role="button" class="btn" data-toggle="modal">Edit your profile</a>
            <a href="#changeAvatar" class="btn" data-toggle="modal">Change avatar</a>
            @{
                if (!@Model.Item1.EmailConfirmed)
                {
                    <p>
                        or <a asp-action="ResendEmailCofirm" asp-controller="Office" class="btn btn-danger">Resend Email confirmation message</a>
                    </p>
                }
            }
        </p>


            <!-- Edit Profile Modal -->
            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("EditProfileModalPartial", new UserProfile())
                </div>
            </div>

            <!-- Edit Password Modal -->
            <div id="changePassword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("ChangePasswordModalPartial", new ChangePasswordViewModel())
                </div>
            </div>

            <!-- Change Avatar Modal -->
            <div id="changeAvatar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("ChangeAvatarPartial", new ChangeAvatarViewModel())
                </div>
            </div>

    </div>
