@model AboutViewModel

<div class="span9">

  <ul class="breadcrumb">
    <li><a asp-controller="Home">Home</a> <span class="divider">/</span></li>
    <li><a asp-controller="Catalog" asp-action="List">Items</a> <span class="divider">/</span></li>
    <li class="active">About</li>
  </ul>

  <div class="well well-small">
    <div class="row-fluid">
      <div class="span5">
        <div id="myCarousel" class="carousel slide cntr">
          <div class="carousel-inner">

            @{ foreach (var p in Model.Entity.Images)
              {
                @await Html.PartialAsync("ItemCarouselPartial", p)
              }
            }

          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
      </div>


      <div class="span7">
        <h3>@Model.Entity.Name</h3>
        <hr class="soft">
        
        <div class="btn-group">
          @{
            for (int i = 0; i < Model.Entity.Raiting; i++)
            {
              <div><span class="icon-star"></span></div>
            }
            
          }
        </div>
        
        <form class="form-horizontal qtyFrm">
          <div class="control-group">
            <label class="control-label"><span>$ @(Model.Entity.Price/75)</span></label>
          </div>

          <h4>@Model.Entity.InStock in stock now</h4>
          <p>
            @Model.Entity.Short_Desc
          </p>
          
          <p>
            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span>Add to cart</button>
          </p>
        </form>
      </div>
    </div>

    <hr class="softn clr">

    <ul id="productDetail" class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
      <li class=""><a href="#profile" data-toggle="tab">Related Products </a></li>
    </ul>

    <div id="myTabContent" class="tab-content tabWrapper">
      <div class="tab-pane fade active in" id="home">
        <h4>More info</h4>
        <table class="table table-striped">
          <tbody>
            @{ foreach (var atr in Model.Entity.Attributes)
              {
                @await Html.PartialAsync("AttributesPartial", atr)
              }
            }
          </tbody>
        </table>

        @Model.Entity.Long_Desc

      </div>
      <div class="tab-pane fade" id="profile">
        <div class="row-fluid">
          
          @{
            foreach (var product in Model.Related_Products)
            {
              @await Html.PartialAsync("ReleatedProductsPartial", product)
            }
          }
          
        </div>
      </div>
      
    </div>
    
    <h4>Comments</h4>
    @Html.ValidationMessage("Error")
    @using(Html.BeginForm(actionName: "AddCommentAsync", 
      controllerName: "Catalog", 
      FormMethod.Post )){
        
         <!-- Begin Comment Form -->
      @Html.Hidden("EntityId" ,$"{Model.Entity.Id}")
      
         <div class="col-md-12">
           <div class="panel">
             Rating: @Html.DropDownList("raiting", new SelectList(new []{ 1,2,3,4,5 }))
             <div class="panel-body">
               @Html.TextArea("content", value: "", rows: 5, columns: 200, null)
               <div class="mar-top clearfix">
                 <p><input type="submit" value="Add"/></p> 
               </div>
               
             </div>
             
           </div>
          
              </div>
    }

    <hr class="softn clr" />
    
    @{
      if (Model.Entity.Comments.Any())
      {
        foreach (var comment in Model.Entity.Comments)
        {
          @await Html.PartialAsync("CommentsPartial", comment)
        }
      }
      else
      {
        <h4>Here is no comments now... Be First!</h4>
      }
    }
  </div>
</div>
<style>
  .img-sm {
    width: 46px;
    height: 46px;
  }

  .media-block .media-left {
    display: block;
    float: left
  }

  .media-block .media-right {
    float: right
  }

  .media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto
  }

  .middle .media-left,
  .middle .media-right,
  .middle .media-body {
    vertical-align: middle
  }
</style>
