@{
    Layout = "AdminPanelLayout";
}
@{ Catalog_Order order = ViewBag.Order; }
<div class="p-4">
    <div class="welcome">
        <div class="content rounded-3 p-3">
      
            <h3 color="black"><a class="nav-link" >Order number: @order.Id</a></h3>
            <p>Status: @order.State</p>
            <p>Time:@order.CreatedTime</p>
            <p>User Email: @ViewBag.user.Email</p>
            <h3>Change status:</h3>
            <form method="post" asp-action="ChangeOrderStatus">
                <input type="hidden" name="Email" value="@ViewBag.user.Email"/> 
                <input type="hidden" name="Id" value="@order.Id">
                <select name="Status" required/>
                <option value="Closed">Closed</option>
                <option value="ReadyToPick">ReadyToPick</option>
                <option value="InProcess">InProcess</option>
                <option selected value="Open">Open</option>
                <select/>
                <input type="submit" value="Change">
            </form>
            <br/>
            <br/>
        
      
        </div>
    </div>
</div>