@model Catalog_Entity 
<div class="row-fluid" data-price="@Model.Price" data-raiting="@Model.Raiting.ToString()">
    <div class="span2">
        <img src="@Model.Images.First().Patch" alt="">
    </div>
    <div class="span6">
        <h5>@Model.Name </h5>
        <p>
            <!--Desk-->
            @String.Concat(Model.Long_Desc.Take(150).Append('.').Append('.').Append('.').ToArray())
        </p>
    </div>
    <div class="span4 alignR wrap-goods">
        <div class="form-horizontal qtyFrm">
            <h3> @Model.Price.ToString("# руб") </h3>
            <div class="btn-group">
                <form asp-controller="Cart" asp-action="AddToCart">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="submit" value="Add to cart" class="defaultBtn" />
                </form>
                <form asp-controller="Cart" asp-action="RemoveFromCart">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="submit" value="Remove from cart" class="defaultBtn" />
                </form>
                <a asp-controller="Catalog" asp-action="About" asp-route-id="@Model.Id" class="shopBtn">VIEW</a>
            </div>
        </div>
    </div>
    <hr class="soften">
</div>