@model Catalog_Entity

 
<div class="row-fluid">
    <div class="span2">
        <img src="@Model.Images.First().Patch" alt="sexy-image">
    </div>
    <div class="span6">
        <h5>@Model.Name </h5>
        <p>
            <!--Desk-->
            @String.Concat(Model.Long_Desc.Take(150).Append('.').Append('.').Append('.').ToArray())
        </p>
    </div>
    <div class="span4 alignR">
        <form class="form-horizontal qtyFrm" asp-controller="Cart" asp-action="AddToCart">
            <h3>
                @{
                    for (int i = 0; i < Model.Raiting; i++)
                    {
                        <span class="icon-star"></span>
                    }
                }
            </h3>
            
            <h3> $ @(Model.Price/75) </h3>
            <label class="checkbox">
                <input type="checkbox">  Adds product to compair
            </label><br>
                    <div class="btn-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="submit" value="Add to cart" class="defaultBtn" /> <span class=" icon-shopping-cart"></span>
                        <a asp-controller="Catalog" asp-action="About" asp-route-id="@Model.Id" class="shopBtn">VIEW</a>
                    </div>
        </form>
    </div>
  </div>
  <hr class="soften">
